
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "微软雅黑";
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
input,button,select{
    outline: none;
}
