@import url(common.css);
body {
  height: 100vh; }

#start {
  position: relative;
  overflow: hidden;
  width: 7.5rem;
  font-size: 0;
  opacity: 1;
  z-index: 2;
  transition: all 1.5s ease-in; }

#start img {
  width: 100%;
  height: 100vh; }

#lead {
  width: 7.5rem;
  height: 100vh;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  transition: all .5s ease-in; }
  #lead #lead_con {
    width: 100%;
    overflow: hidden; }
  #lead .lead_list {
    width: 22.5rem;
    height: 10.3rem;
    overflow: hidden; }
    #lead .lead_list li {
      width: 7.5rem;
      height: 100%;
      float: left;
      position: relative; }
      #lead .lead_list li:nth-child(1) {
        background: url(../images/lead01.jpg) no-repeat;
        background-size: 100% 8.8rem; }
      #lead .lead_list li:nth-child(2) {
        background: url(../images/lead03.jpg) no-repeat;
        background-size: 100% 8.8rem; }
      #lead .lead_list li:nth-child(3) {
        background: url(../images/lead05.jpg) no-repeat;
        background-size: 100% 8.8rem; }
      #lead .lead_list li img {
        width: 5.8rem;
        height: 8.28rem;
        position: absolute;
        top: 0.25rem;
        left: 50%;
        margin-left: -2.9rem; }
      #lead .lead_list li .title {
        width: 100%;
        color: #333;
        font-size: 0.35rem;
        position: absolute;
        bottom: 0;
        text-align: center; }
  #lead .list {
    width: 3.2rem;
    margin: 0.7rem auto 0;
    display: flex;
    justify-content: space-between; }
    #lead .list li {
      width: 0.7rem;
      height: 0.06rem;
      background: #bbb; }
    #lead .list .on {
      background: #ff5c5c; }
  #lead .login {
    width: 100%;
    display: flex;
    justify-content: space-around;
    width: 5.1rem;
    margin: 0.64rem auto 0; }
    #lead .login a {
      display: block;
      width: 2.4rem;
      height: 0.65rem;
      line-height: 0.65rem;
      text-align: center;
      font-size: 0.35rem;
      border-radius: 20px; }
    #lead .login .log {
      color: #ff5c5c;
      border: 1px solid #ff5c5c; }
    #lead .login .reg {
      color: #fff;
      background: #ff5c5c; }
